@using B1625MVC.BLL.DTO.Enums
@model B1625MVC.Web.Models.NewPublicationViewModel
@{
    ViewBag.Title = "Add";
}
<div class="form" style="width:600px">
    <div class="form-title">
        Add new post
    </div>

    @using (Html.BeginForm("Add", "Publication", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div class="form-field">
            @Html.ValidationMessageFor(p => p.Title)
            @Html.TextBoxFor(p => p.Title, new { placeholder = "Enter post title" })
        </div>
        <div class="form-field">
            @Html.LabelFor(p => p.ContentType):
            @Html.RadioButton("ContentType", ContentType.Image, true, new { id = "radio-image" }) Image
            @Html.RadioButton("ContentType", ContentType.Text, new { id = "radio-text" }) Text
        </div>
        <div id="text-content" class="form-field" style="display:none">
            @Html.ValidationMessageFor(p => p.Text)
            @Html.TextAreaFor(p => p.Text, new { placeholder = "Enter you text here" })
        </div>
        <div id="image-content">
            <div class="form-field">
                <img style="text-align:center;" id="image_preview" src="" alt="Image preview here" />
            </div>
            <div class="form-field">
                <input type="file" name="ImageFile" id="ImageFile" accept="image/*" />
            </div>
        </div>
        <div class="form-message">
            @Html.ValidationSummary(false)
        </div>
        <div class="form-field">
            <input type="submit" value="Add publication" />
        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $("input[name='ContentType']").click(function () {
                if ($(this).attr('id') == 'radio-text') {
                    $('#text-content').show();
                    $('#image-content').hide();
                }
                else if ($(this).attr('id') == 'radio-image') {
                    $('#image-content').show();
                    $('#text-content').hide();
                }
            });
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });
    </script>
}
