@using System.Text
@using B1625MVC.BLL.DTO
@using B1625MVC.BLL.DTO.Enums
@model  PublicationInfo

@{
    string ratingValue = "ratingValue" + Model.Id;
    string publicationId = "publication" + Model.Id;
    string publicationSlider = "slider" + Model.Id;
    string publicationLoading = "loadin" + Model.Id;

    var ajaxRateOptions = new AjaxOptions()
    {
        UpdateTargetId = ratingValue
    };
}

<div id="@publicationId" class="publication-container">
    @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = publicationId, Url = Url.Action("Edit", "Publication", new { area = "Admin" }), Confirm = "Save changes?", LoadingElementId = publicationLoading }))
    {
        @Html.HiddenFor(model => model.Id);
        <div class="publication-head">
            <button title="Hide publication" class="hide-btn" onclick="hideContent(this, @publicationSlider)">-</button>
            <div class="publication-title">
                @Html.EditorFor(model => model.Title)
            </div>
            <div class="publication-date">
                @Model.PublicationDate.Value.Date.ToString("dd MMM yyyy")
            </div>
        </div>
        <div id="@publicationSlider">
            <div class="publication-content">
                @if (Model.ContentType == ContentType.Image)
                {
                    <a href="@Url.Action("Index", "Publication", new { id = Model.Id })">
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" />
                    </a>
                }
                else if (Model.ContentType == ContentType.Text)
                {
                    @Html.TextArea("Content", Encoding.Default.GetString(Model.Content))
                }
                else
                {
                    @:"Unknown!"
        }
            </div>
            <div class="publication-actions">
                <div class="publication-rating-actions">
                    @Ajax.RouteLink("▲", new { controller = "Publication", action = "RateUp", publicationId = Model.Id }, ajaxRateOptions, new { style = "font-size:24px;", title = "Upvote" })
                    <span id="@ratingValue">@Model.Rating</span>
                    @Ajax.RouteLink("▼", new { controller = "Publication", action = "RateDown", publicationId = Model.Id }, ajaxRateOptions, new { style = "font-size:24px;", title = "Downvote" })
                </div>
                <div class="publication-comments-actions">
                    @Html.RouteLink(Model.CommentsCount.ToString() + " comments", new { controller = "Publication", action = "Index", id = Model.Id })
                </div>
                <div class="publication-author">
                    by @Html.RouteLink(@Model.Author, new { controller = "Account", action = "UserProfile", username = Model.Author })
                </div>

                @if (User.IsInRole("Administrators") || User.IsInRole("Moderators"))
                {
                    <div class="publication-admin-actions">
                        <div id="@publicationLoading" style="display:inline-block; display:none">Loading...</div>
                        @Ajax.RouteLink("Remove", new { area = "Admin", controller = "Publication", action = "Delete", publicationId = Model.Id }, new AjaxOptions()
                   {
                       UpdateTargetId = publicationId,
                       Confirm = "Are you really want ot delete this publication?",
                       LoadingElementId = publicationLoading
                   })
                        <button type="submit">Confirm</button>
                    </div>
                }
            </div>
        </div>
    }
</div>