@using B1625MVC.Model.Entities
@model Comment

<div class="comment">
    <div class="comment-author">
        @Html.RouteLink(@Model.Author.Username, new { controller = "Account", action = "UserProfile", username = Model.Author.Username })
        @Html.ActionLink("Up","RateUp")
        <span>@Model.Rating</span>
        @Html.ActionLink("Down", "RateDown")
        <span style="float:right; font-size:14px;">@Model.PublicationDate.Value.Date.ToString("dd MMM yyyy")</span>
    </div>
    <div class="comment-content">
        @Model.Content
    </div>
</div>
