@using B1625MVC.BLL.DTO
@model CommentInfo
@{
    string ratingValue = "ratingValue" + Model.Id;
    string commentId = "comment" + Model.Id;
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = ratingValue
    };
}
<div id="@commentId" class="comment-container">
    <div class="comment-head">
        <div class="comment-author">
            @Html.RouteLink(@Model.Author, new { controller = "Account", action = "UserProfile", username = Model.Author })
        </div>
        <div class="comment-date">
            @Model.PublicationDate.Value.Date.ToString("dd MMM yyyy")
        </div>
    </div>
    <div class="comment-content">
        @Model.Content
    </div>
    <div class="comment-actions">
        <div class="comment-rating-actions">
            @if (User.Identity.IsAuthenticated)
            {
                @Ajax.RouteLink("Up", new { controller = "Comment", action = "RateUp", commentId = Model.Id }, ajaxOptions)
            }
            else
            {
                @:Up
            }
            <span id="@ratingValue">@Model.Rating</span>
            @if (User.Identity.IsAuthenticated)
            {
                @Ajax.RouteLink("Down", new { controller = "Comment", action = "RateDown", commentId = Model.Id }, ajaxOptions)
            }
            else{
                @:Down
            }
        </div>
        @if (User.IsInRole("Administrators") || User.IsInRole("Moderators"))
        {
            <div class="comment-admin-actions">
                @Ajax.RouteLink("Remove", new { area = "Admin", controller = "Comment", action = "Delete", commentId = Model.Id }, new AjaxOptions()
           {
               UpdateTargetId = commentId,
               Confirm = "Are you really want ot delete this comment?"
           })
                |
                @Html.RouteLink("Edit", new { area = "Admin", controller = "Comment", action = "Edit", publicationId = Model.Id })
            </div>
        }
    </div>
</div>
