@using B1625MVC.Web.Helpers
@{ 
    IEnumerable<RouteLink> links = new List<RouteLink>()
    {
        new RouteLink("Hot", new { controller = "Home", action = "Hot" }),
        new RouteLink("Best", new { controller = "Home", action = "Best" }),
        new RouteLink("Fresh", new { controller = "Home", action = "Fresh" })
    };
    var loginLink = new RouteLink("Log in", new { area = "", controller = "Account", action = "Login" });
    var logoutLink = new RouteLink("Log out", new { area = "", controller = "Account", action = "Logout" });
    var userLink = new RouteLink(User.Identity.Name, new { area = "", controller = "Account", action = "UserProfile", username = User.Identity.Name });
    var registrationLink = new RouteLink("Register", new { area = "", controller = "Account", action = "Registration" });
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/MenuStyle.css" />
    @RenderSection("Styles", false)
</head>
<body style="font-family:Arial, Helvetica, sans-serif; margin:0px; height:100vh; background-color:silver">
    <div>
        <div class="menu">
           @Html.NavigationBar(links, loginLink, logoutLink, userLink, registrationLink);
        </div>
        <div style="display: table;margin-left:auto;margin-right:auto;margin-top:28px; padding:20px; background-color:whitesmoke ">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>
