@using System.Text
@using B1625MVC.BLL.DTO
@model  PublicationInfo

@{
    string ratingValue = "ratingValue" + Model.Id;
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = ratingValue
    };
}

<div class="publication-container">
    <div class="publication-title">
        @Html.RouteLink(Model.Title, new
   {
       controller = "Publication",
       action = "Index",
       id = Model.Id
   })
    </div>
    <div style="margin: 10px">
        @if (Model.AuthorAvatar != null)
            {
            <img style="width:24px; height:24px; vertical-align:middle" src="data:image;base64,@System.Convert.ToBase64String(Model.AuthorAvatar)" />
        }
        @Html.RouteLink(@Model.Author, new { controller = "Account", action = "UserProfile", username = Model.Author })
        <span style="float:right">@Model.PublicationDate.Value.Date.ToString("dd MMM yyyy")</span>
    </div>
    <div class="publication-content">
        @if (Model.ContentType == ContentType.Image)
            {
            <a href="@Url.Action("Index","Publication")">
                <img style="max-width:100%; display:block" src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" />
            </a>
        }
        else if (Model.ContentType == ContentType.Text)
        {
            <p style="padding-left:15px;padding-right:15px">@Encoding.Default.GetString(Model.Content)</p>
        }
        else
        {
            @:"Unknown!"
        }
    </div>
    <div>
        @Ajax.RouteLink("Up", new { controller = "Publication", action = "RateUp", publicationId = Model.Id }, ajaxOptions)
        <span id="@ratingValue">@Model.Rating</span>
        @Ajax.RouteLink("Down", new { controller = "Publication", action = "RateDown", publicationId = Model.Id }, ajaxOptions)
        @Html.RouteLink(Model.CommentsCount.ToString() +  " comments", new { controller = "Publication", action = "Index", id = Model.Id })
    </div>
</div>