@using B1625MVC.Model.Entities
@using B1625MVC.Model.Enums
@using System.Text
@model Publication

@{
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "ratingValue"
    };
}

<div class="publication-container">
    <div class="publication-title">
        @Html.RouteLink(Model.Title, new { controller = "Publication", action = "Index", id = Model.PublicationId })
    </div>
    <div style="margin: 10px">
        @if (Model.Author.Avatar != null)
        {
            <img style="width:24px; height:24px; vertical-align:middle" src="data:image;base64,@System.Convert.ToBase64String(Model.Author.Avatar)" />
        }
        @Html.RouteLink(@Model.Author.UserName, new { controller = "Account", action = "UserProfile", username = Model.Author.UserName })
        <span style="float:right">@Model.PublicationDate.Value.Date.ToString("dd MMM yyyy")</span>
    </div>
    <div class="publication-content">
        @if (Model.ContentType == ContentType.Image)
        {
            <a href="@Url.Action("Index","Publication")">
                <img style="max-width:100%; display:block" src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" />
            </a>
        }
        else if (Model.ContentType == ContentType.Text)
        {
            <p style="padding-left:15px;padding-right:15px">@Encoding.Default.GetString(Model.Content)</p>
        }
        else
        {
            @:"Unknown!"
        }
    </div>
    <div>
        @Ajax.RouteLink("Up", new { controller = "Publication", action = "RateUp", publicationId = Model.PublicationId}, ajaxOptions)
        <span id="ratingValue">@Model.Rating</span>
        @Ajax.RouteLink("Down", new { controller = "Publication", action = "RateUp", publicationId = Model.PublicationId }, ajaxOptions)
        @Html.RouteLink("Comments", new { controller = "Publication", action = "Index", id = Model.PublicationId })
    </div>
</div>