@using B1625MVC.Model.Entities
@using B1625MVC.Model.Infrastructure
@using System.Text
@model Publication

<div class="publication-container">
    <div class="publication-title">
        <b> @Model.Title</b>
    </div>
    <div>
        by @Model.Author.Username
    </div>
    <div class="publication-content">
        @if (Model.ContentType == ContentType.Image)
        {
            <img style="max-width:100%; display:block" src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" />
        }
        else if (Model.ContentType == ContentType.Text)
        {
            <p style="padding-left:15px;padding-right:15px">@Encoding.Default.GetString(Model.Content)</p>
        }
        else
        {
            @:"Unknown!"
        }
    </div>
    <div>
        @Html.ActionLink("Up", "RateUp", new { id = Model.PublicationId })
        @Model.Rating
        @Html.ActionLink("Down","RateDown", new { id = Model.PublicationId })
        @Html.RouteLink("Comments", new { controller = "Publication", action = "Index", id = Model.PublicationId })
    </div>
</div>