@model B1625MVC.Web.Areas.Admin.Models.CreateUserViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(rm => rm.UserName)
        @Html.EditorFor(rm=>rm.UserName)
        @Html.ValidationMessageFor(rm => rm.UserName)
    </div>
    <div>
        @Html.LabelFor(rm=>rm.Email)
        @Html.EditorFor(rm => rm.Email)
        @Html.ValidationMessageFor(rm => rm.UserName)
    </div>
    <div>
        @Html.LabelFor(rm => rm.Password)
        @Html.PasswordFor(rm => rm.Password)
    </div>
    <div>
        @Html.LabelFor(rm => rm.PasswordConfirm)
        @Html.PasswordFor(rm => rm.PasswordConfirm)
        @Html.ValidationMessageFor(rm => rm.UserName)
    </div>
    <input type="submit" value="Submit" />
}
@Html.ValidationSummary(true)

