@using B1625MVC.Web.Helpers
@{
    IEnumerable<RouteLink> leftLinks = new List<RouteLink>()
    {
        new RouteLink("Home", new { area = "Admin", controller = "Home", action = "Index" }),
        new RouteLink("Users", new { area = "Admin", controller = "Account", action = "List" }),
        new RouteLink("Publications", new { area = "Admin", controller = "Home", action = "Index" }),
        new RouteLink("Comments", new { area = "Admin", controller = "Home", action = "Index" }),
    };
    ICollection<RouteLink> rightLinks = new List<RouteLink>();

    var loginLink = new RouteLink("Log in", new { area = "", controller = "Account", action = "Login" });
    var registrationLink = new RouteLink("Register", new { area = "", controller = "Account", action = "Registration" });

    var logoutLink = new RouteLink("Log out", new { area = "", controller = "Account", action = "Logout" });
    var settingsLink = new RouteLink("Settings", new { area = "", controller = "Account", action = "Settings" });
    var userLink = new RouteLink(User.Identity.Name, new { area = "", controller = "Account", action = "UserProfile", username = User.Identity.Name });
    if (User.Identity.IsAuthenticated)
    {
        userLink.InnerLinks.Add(new RouteLink("Admin panel", new { area = "Admin", controller = "Home", action = "Index" }));
    }
    userLink.InnerLinks.Add(settingsLink);
    userLink.InnerLinks.Add(logoutLink);

    var uploadLink = new RouteLink("To site", new { area = "", controller = "Home", action="Hot"});

    if (User.Identity.IsAuthenticated)
    {
        rightLinks.Add(uploadLink);
        rightLinks.Add(userLink);
    }
    else
    {
        rightLinks.Add(registrationLink);
        rightLinks.Add(loginLink);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Reset.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/MainStyle.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="nav-bar">
        @Html.NavigationBar(leftLinks, rightLinks)
    </nav>
    <div class="main">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
