@using B1625MVC.BLL.DTO
@model IEnumerable<UserInfo>
@{
    WebGrid usersTable = new WebGrid(source: Model);
}
<div id="users_table">
    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>Rating</td>
                <td>Roles</td>
                <td>Registration date</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.RouteLink(user.UserName, new { area = "Admin", controller = "Account", action = "Details", username = user.UserName })</td>
                    <td>@user.Rating</td>
                    <td>
                        @{
                            var rolesString = string.Empty;
                            foreach (var role in user.Roles)
                            {
                                rolesString += role + ", ";
                            }
                            @: @rolesString.Substring(0, rolesString.Length - 2)
                        }
                    </td>
                    <td>
                        @user.RegistrationDate
                    </td>
                    <td>
                        @Html.RouteLink("Edit", new { area = "Admin", controller = "Account", action = "Edit", username = user.UserName })
                        @Html.RouteLink("Delete", new { area = "Admin", controller = "Account", action = "Delete", accountId = user.Id })
                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>
