@model B1625MVC.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2 style="text-align:center">Login</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.ValidationMessageFor(lvm => lvm.EmailOrUserName)
        @Html.TextBoxFor(lvm => lvm.EmailOrUserName, new { placeholder ="Username or email", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        @Html.ValidationMessageFor(lvm => lvm.Password)
        @Html.PasswordFor(lvm => lvm.Password, new { placeholder = "Password", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        @Html.CheckBoxFor(lvm => lvm.RememberMe)
        @Html.LabelFor(lvm => lvm.RememberMe)
    </div>
    <div>
        <input type="submit" value="Login" style="width: 100%;padding: 4px;margin: 5px 0;display: inline-block;box-sizing: border-box;font-size:16px;" />
    </div>
}

@Html.ValidationSummary(true)

