@model B1625MVC.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="form">
    <div class="form-title">Login</div>
    @using (Html.BeginForm())
    {
        <div class="form-field">
            @Html.ValidationMessageFor(lvm => lvm.EmailOrUserName)
            @Html.TextBoxFor(lvm => lvm.EmailOrUserName, new { placeholder = "Username or email" })
        </div>
        <div class="form-field">
            @Html.ValidationMessageFor(lvm => lvm.Password)
            @Html.PasswordFor(lvm => lvm.Password, new { placeholder = "Password" })
        </div>
        <div class="form-field">
            @Html.CheckBoxFor(lvm => lvm.RememberMe)
            @Html.LabelFor(lvm => lvm.RememberMe)
        </div>
        <div class="form-field">
            <input type="submit" value="Login" />
        </div>
    }
    <div class="form-message">
        @Html.ValidationSummary(true)
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

