@model B1625MVC.Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
}

<h2 style="text-align:center">Registration</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.ValidationMessageFor(rm => rm.UserName)
        <br />
        @Html.TextBoxFor(rm => rm.UserName, new { placeholder = "Username", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        @Html.ValidationMessageFor(rm => rm.Email)
        @Html.TextBoxFor(rm => rm.Email, new { placeholder = "Email", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        @Html.ValidationMessageFor(rm => rm.Password)
        @Html.PasswordFor(rm => rm.Password, new { placeholder = "Password", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        @Html.PasswordFor(rm => rm.PasswordConfirm, new { placeholder = "Confirm password", style = "margin: 5px 0;font-size:16px;padding:5px" })
    </div>
    <div>
        <input type="submit" value="Register" style="width: 100%;padding: 4px;margin: 5px 0;display: inline-block;box-sizing: border-box;font-size:16px;" />
    </div>
}

@Html.ValidationSummary(true)
