@model B1625MVC.Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
}

<div class="form">
    <div class="form-title">
        Registration
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-field">
            @Html.ValidationMessageFor(rm => rm.UserName)
            @Html.TextBoxFor(rm => rm.UserName, new { placeholder = "Username"})
        </div>
        <div class="form-field">
            @Html.ValidationMessageFor(rm => rm.Email)
            @Html.TextBoxFor(rm => rm.Email, new { placeholder = "Email"})
        </div>
        <div class="form-field">
            @Html.ValidationMessageFor(rm => rm.Password)
            @Html.PasswordFor(rm => rm.Password, new { placeholder = "Password"})
        </div>
        <div class="form-field">
            @Html.PasswordFor(rm => rm.PasswordConfirm, new { placeholder = "Confirm password"})
        </div>
        <div class="form-field">
            <input type="submit" value="Register"/>
        </div>
    }
    <div class="form-message">
        @Html.ValidationSummary(true)
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}