@model B1625MVC.BLL.DTO.UserInfo

@{
    ViewBag.Title = Model.UserName;
}

@section Styles{
    <link rel="stylesheet" href="~/Content/PublicationStyle.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/UserStyles.css" type="text/css" />
}

<div style="">
    <div id="userHead" style="margin-top:-16px;">
        <div id="userInfo" class="user-panel">
            @if (User.Identity.Name == Model.UserName)
            {
                <div class="settings-button">
                    @Html.ActionLink("Settings", "Settings")
                </div>
            }
            <div style="text-align:center;">
                @if (Model.Avatar != null)
                {
                <div>
                    <img class="user-avatar" src="data:image;base64,@System.Convert.ToBase64String(Model.Avatar)" alt="No avatar" />
                </div>
                }
                else
                {

                }
                <div style="font-size:20px;margin-top:12px;">
                    @Model.UserName
                </div>
            </div>
            <div class="user-info">
                <span>
                    Registration date: @Model.RegistrationDate.Value.Date.ToString("dd MMM yyyy")
                </span>
                <span>
                    Rating: @Model.Rating
                </span>
                <span>
                    Gender: @Model.Gender
                </span>
            </div>
            <div class="confirmation-info">
                @if (!Model.EmailConfirmed && User.Identity.Name == Model.UserName)
            {
                    <div id="account_conf_msg" class="email-confirm-msg">
                        Your email not confirmed!
                    </div>
                    <div class="email-confirm-btn">
                        @Ajax.ActionLink("Confirm", "SendConfirmEmail", new { username = Model.UserName }, new AjaxOptions() { UpdateTargetId = "account_conf_msg" })
                    </div>
                }
            </div>

        </div>
        <div id="tabsHolder" style="min-height:40px;margin:0 32px;">
            <div id="tabMenu" class="tab-menu">
                <div id="publicationsTab" class="tab selected">
                    @Ajax.RouteLink("Publications", new { controller = "Publication", action = "UserPublications", username = Model.UserName }, new AjaxOptions() { UpdateTargetId = "content" }, new { id = "publicationsRef" })
                </div>
                <div id="commentsTab" class="tab">
                    @Ajax.RouteLink("Comments", new { controller = "Comment", action = "UserComments", username = Model.UserName }, new AjaxOptions() { UpdateTargetId = "content" }, new { id = "commentsRef" })
                </div>
            </div>
        </div>
    </div>
    <div id="content" style="margin-top:16px; margin-left:96px; margin-right:96px;">
        @Html.Action("UserPublications", "Publication", new { username = Model.UserName })
    </div>

    <div id="floatingUserInfo" style="position:fixed; top:48px;left:96px;right:96px; background-color:white;">
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $("#commentsRef").click(function () {
            $("#commentsTab").addClass("selected");
            $("#publicationsTab").removeClass("selected");
        });

        $("#publicationsRef").click(function () {
            $("#publicationsTab").addClass("selected");
            $("#commentsTab").removeClass("selected");
        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() > $("#userInfo").height() + 40) {
                $("#tabMenu").appendTo("#floatingUserInfo");
                //$("#floatingUserInfo").slideDown();
            }
            else {
                $("#tabMenu").appendTo("#tabsHolder");
                //$("#floatingUserInfo").slideUp();

            }
        })
    </script>
}

